html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

#container {
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3498DB;
  justify-content: space-evenly;
  padding: 5rem;
}

.caption{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
color: white;
font-size: 1.8rem;
}

.caption h1{
  text-align: center;
}

.caption p{
  font-size: 1.5rem;
  text-align: center;
}

.memberships{
display: flex;
gap: 2rem;
align-items: center;
justify-content: space-between;
margin-top: 3rem;
}

.card{
  padding: 2rem;
  width: 33%;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  align-items: center;
}

.text{
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.text h1{
  font-size: 3.2rem;
}

.course1 h3, h4{
  color: #0072EF;
}

.course2 h3{
  color: #0072EF;
}

.course2 h1, h4{
  color: #34495e;
}

.course3 h3{
  color: #0072EF;
}

.course3 h4{
  color: white;
}

.specifities{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  font-size: 1.5rem;
  margin: 2.2rem 0;

}
.specifities li{
  display: flex ;
  gap: 0.5rem;
  align-items: center;
}
.specifities li i{
 color: #0072EF;
 font-size: 2.2rem;
}

.single{
  background-color: #2C3E50;
  color: white;
}

.monthly{
color: black;
background-color: white;
}

.yearly{
background-color: #1E1E1E;
color: white;
}

.button{
  background-color: #0072EF;
  border: none;
  font-size: 1.8rem;
  font-weight: 70rem;
  width: 15rem;
  height: 5rem;
  border-radius: 6px;
  color: white;
}

@media screen and (max-width: 992px) {

  .memberships{
    flex-wrap: wrap;
    justify-content: center;
  }

  .card{
    width: 45%;
  }

.container {
    /* max-width: 1260px; */
    max-width: 80%;
    margin: auto;
}
#courses{
  height: max-content;
  background-color: black;
}

.course{
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;

}


.course h2{
  font-size: 4rem;
  color: white;
}

h2 span{
  color: rgb(49, 149, 255);
}
.course .cart{
  border: #333 solid 1px;
  background-color: rgb(34, 34, 34);
  border-radius: 0.5rem;
  position: relative;
}
.course .cart .content{
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: 1.7rem;
  padding-left: 2.5rem;
  padding-bottom: 2rem;
  margin-top: 4rem;
}
img.abselute{
  width: 60px;
  position: absolute;
  right: 1rem;
  top: 1rem;

}
.cart .content .get{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  
}
.cart .content .get a{
  text-decoration: none;
  color: rgb(49, 149, 255);
}
.cart .content .get a:hover{
  color: rgb(183, 33, 33);
}

p.blueP{
  color: rgb(49, 149, 255);
  text-transform: uppercase;
  
}

.aboveCarts{
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25rem;
}
.belowCarts{
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25rem 25rem;
}
.courses button{
  width: 100%;
  height: 6rem;
  border: none;
  color: white;
  background-color: rgb(49, 149, 255);
  font-weight: 700;
  border-radius: 0.5rem;
}

#media {
    background-image: url('/assets/images/e6157d-15-041-3b75-0dc8deb2ea41_yt-bg.webp');
    color: white;
}

.mediaMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mediaLeft img {
     max-width: 100%;
}

.mediaRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.h2 {
    font-size: 3.6rem;
}

.paragraph {
    font-size: 1.8rem;
}

span {
    font-weight: 700;
}

.mediaRight button {
    background-color: black;
    max-width: max-content;
    padding: 1rem 3rem;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.5rem;
}

#popular {
    background-color: black;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.popularCards {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    grid-template-areas: "card1 card2 card3 card4"
    "card5 card6 card7 card8";
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card7 {
    grid-area: card7;
}

.card8 {
    grid-area: card8;
}

.popularCard img {
    width: 100%;
}

#footer {
    background-color: #161e2a;
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
}

.footerLogo {
    width: 5rem;
}

.footerLogo img {
    width: 100%;
}

.footerLogo {
    width: 5rem;
}
.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerIcons i {
    margin: 0.7rem;
}

@media screen and (max-width: 992px) {
    .mediaMain {
        flex-direction: column;
    }

    .h2 {
        font-size: 3.3rem;
    }

    .popularCards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "card1 card2"
         "card3 card4"
         "card5 card6" 
         "card7 card8";
    }

    .footerContainer {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .mediaRight button {
      margin-bottom: 1.5rem;
    }
    
  }


@media screen and (max-width: 768px) {
  .card{
    width: 50%;
  .course{
    margin: 3rem;
  }
  .aboveCarts{
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  .aboveCarts .cart:nth-child(3){
    grid-column: 1 / span 2;
  }
  .belowCarts{
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  .course .cart .content{
    font-size: 1.5rem;
  }
  .course h2{
    font-size: 3rem;
  }
  
  }
}


@media screen and (max-width: 576px) {
  .course{
    margin: 2rem;
  }
  .aboveCarts{
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .aboveCarts .cart:nth-child(3){
    grid-column: 1 / span 1;
  }
  .belowCarts{
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  

    .container {
        width: 60%;
    }

    .h2 {
        font-size: 2.3rem;
    }

    
    .popularCards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "card1" 
        "card2"
         "card3" 
         "card4"
         "card5" 
         "card6" 
         "card7" 
         "card8";
    }
  }
